<% provide(:title, 'Join') %>
<div class="container">
  <h1>Live Games</h1>
  <div id="leaderboardBackground"> 
    <table class="table table-hover table-responsive table- bordered">
      <tr>
        <th>Game Name</th>
        <th>Players</th>
        <th>Join</th>
      </tr>
      <% Game.all.where("state = '0' AND logged_in_users != max_users").each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.logged_in_users %>/<%= game.max_users %> </td>
          <td><%= link_to  "Join", game_path(game), :class => "btn btn-primary" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>