<% provide(:title, 'Join') %>
<div class="container">
<h1>Live Games</h1>
<hr>
  <div class="row">
    <h4>Name Players 
    <%= link_to "Start Lying", :games, class: "btn btn-success" %>
    <!-- <button type="button" class="btn btn-success">Start Lying!</button> -->
  </div>
</div>
