<% provide(:title, 'Join') %>
<div class="container">
<h1>Live Games</h1>
<hr>
  <div class="row">
  <h4>Name Players <button type="button" class="btn btn-success">Start Lying!</button> <button type="button" class="btn btn-info">Spectate</button></h4>
  </div>
</div>
