<% provide(:title, 'Leaderboard') %>
<div class="container">  
<h1>Best Liars</h1>        
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Winner</th>
        <th>Players</th>
        <th>Email</th>
        <th>Challenges</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>8</td>
        <td>john@example.com</td>
        <td>15/19</td>
      </tr>
      <tr>
        <td>John</td>
        <td>5</td>
        <td>john@example.com</td>
        <td>15/19</td>
      </tr>
      <tr>
        <td>John</td>
        <td>4</td>
        <td>john@example.com</td>
        <td>15/19</td>
      </tr>
      <tr>
        <td>John</td>
        <td>4</td>
        <td>john@example.com</td>
        <td>15/19</td>
      </tr>
      <tr>
        <td>John</td>
        <td>8</td>
        <td>john@example.com</td>
        <td>15/19</td>
      </tr>
    </tbody>
  </table>
</div>