<% provide(:title, 'Leaderboard') %>
<div class="container">  
<h1>Best Liars</h1>   

<div id="leaderboardBackground">       
  <table class="table table-hover table-responsive table-bordered">
    <thead>
      <tr>
        <th>Winner</th>
        <th>Players</th>
        <th>Game Mode</th>
        <th>Challenges</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Captain Ahab</td>
        <td>8</td>
        <td>Liar's Dice</td>
        <td>15/40</td>
      </tr>
      <tr>
        <td>Bootstrap Bill</td>
        <td>5</td>
        <td>Liar's Dice</td>
        <td>26/48</td>
      </tr>
      <tr>
        <td>GET THE PUN^!</td>
        <td>4</td>
        <td>Custom</td>
        <td>15/19</td>
      </tr>
      <tr>
        <td>Will Turner</td>
        <td>4</td>
        <td>Custom</td>
        <td>15/26</td>
      </tr>
      <tr>
        <td>Jack Sparrow</td>
        <td>8</td>
        <td>Liar's Dice</td>
        <td>12/19</td>
      </tr>
    </tbody>
  </table>
</div>
</div>