// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 4em;
  font-family: "TradeWinds";
  color: #FFB40B;
  text-align: center;
}

#phaser-window {
  position: relative;
}

#listingGames {
  background-color: red;
}

.uiOverlay {
  background-color: transparent;
  position: relative;
  z-index: 20;
  pointer-events: none;
}

#roundNumber {
  top: 26px;
  left: 20px;
  font-size: 3em;
  position: absolute;
}

#challengeTime {
  top: 26px;
  right: 60px;
  font-size: 3em;
  position: absolute;
}

#challengeTime {
  top: 26px;
  right: 60px;
  font-size: 3em;
  position: absolute;
}

#dieQuantity {
  top: 502px;
  left: 334px;
  font-size: 3em;
  position: absolute;
}

#dieValue {
  top: 502px;
  left: 424px;
  font-size: 3em;
  position: absolute;
}

#bid {
  top: 563px;
  left: 414px;
  font-size: 2.2em;
  position: absolute;
  color: white;
}

#lie {
  top: 563px;
  left: 326px;
  font-size: 2.2em;
  position: absolute;
  color: white;
}