// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 4em;
  font-family: "TradeWinds";
  color: #FFB40B;
  text-align: center;
}

#listingGames {
  background-color: red;
}