// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: "TradeWinds";
  src: url('/assets/TradeWindsRegular');
}

.navbar {
  background:transparent;
  border-color: none;
  border: none;
  color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 22px;
}

body {
  background-image: url("nightocean.jpg");
}

.slim {
  padding: 50px 300px 0px 300px;
}

.spacer {
  padding-top: 10px;
}

#phaser-window {
    min-height: 600px;
    background-color: #8d8d8d;
}

#chat-well {
  min-height: 600px;
  height: 640px;
  background-image: url("woodenboards.jpg");
  h3 {
    text-align: center;
    padding-bottom: 15px;
    color: white;
  }
}

#messages {
  background-color: #f5f5f5;
  overflow-y:auto; 
  height:470px;
  font-size: 20px;
}

.chat-message {
  word-wrap: break-word;
}

#user-input {
  position: absolute;
    bottom: 22px;
    left: 18px;    
}

#landingContainer {
  .btn {
    color: white;
    width:200px;
    padding: 20px;
    margin: 10px;
  }
  h1 {
  font-family: "TradeWinds";
    text-align: center;
    color: white;
    font-size: 60px;
  }
}

#leaderboardBackground{
  background-color: #607D8B;
}

#landingImage{
  max-width: 30%;
  height: auto;
  display: block;
}