// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.slim {
  padding: 50px 300px 0px 300px;
}

.spacer {
  padding-top: 10px;
}

#phaser-window {
    min-height: 600px;
    background-color: #8d8d8d;
}